body {
  margin: 0 auto;
}
#bangNhapTen {
  position: relative;
  width: 300px;
  height: 150px;
  border: solid black 5px;
  border-radius: 50px;
  margin: 0 auto;
  top: 150px;
}

#yeuCau {
  position: relative;
  text-align: center;
  top: 5px;
  font-size: 20px;
  font-family: Arial;
}

#khungTen {
  position: relative;
  text-align: center;
}

#ten {
  position: relative;
  border: solid 1px;
  border-radius: 10px;
  height: 20px;
  text-align: center;
  font-size: 15px;
}

#OK {
  position: relative;
  top: 15px;
  height: 20px;
  border-radius: 10px;
  border: solid 1px;
}